---
layout: default
---

<s-section>
  <s-container class="w-1/4">
    <img src="<%= relative_url "images/logo/logo.png" %>" alt="Se fem?">
    <h1 class="sr-only">Chi siamo - Se fem?</h1>
  </s-container>
</s-section>

<s-section class="mb-32">
  <s-container class="max-w-screen-md text-center">
    <h2 class="text-3xl font-bold mb-4">
      Chi siamo?
    </h2>
    <p class="text-xl font-extralight mb-12">
      Siamo un piccolo gruppo di ragazzi volenterosi di Abbiategrasso.
    </p>

    <h2 class="text-3xl font-bold mb-4">
      Qual è il nostro obiettivo?
    </h2>
    <p class="text-xl font-extralight mb-12">
      Il nostro obiettivo è creare un piccolo calendario portatile sugli eventi, manifestazioni e sagre dei paesi che si trovano nel sud ovest milanese.
    </p>

    <h2 class="text-3xl font-bold mb-4">
      Come potete aiutarci?
    </h2>
    <p class="text-xl font-extralight mb-12">
      Se vieni a conoscenza di un evento nella tua zona, contattaci all'indirizzo email:
      <a href="mailto:postmaster@sefem-ilcalendariodeglieventi.it"
         class="block my-2 font-bold"
      >
        postmaster@sefem-ilcalendariodeglieventi.it
      </a>
      oppure ci trovi su Instagram
      <a href="https://instagram.com/sefem_ilcalendariodeglieventi?igshid=YmMyMTA2M2Y="
         class="font-bold"
      >
        @sefem_ilcalendariodeglieventi
      </a>
    </p>
  </s-container>
</s-section>
